@tailwind base;
@tailwind components;
@tailwind utilities;

@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #eee; /* Текст: світло-сірий */
  background-color: #0d47a1; /* Фон: глибокий синій */
}
.container {
  max-width: 1200px;
  margin: 0 auto; /* це центрує контейнер на сторінці */
}

/* стилі кнопки */
.button {
  display: block;
  align-self: start;
  text-align: center;
  background-color: #3b82f6; /* Синій колір */
  padding: 0.5rem 1rem; /* Внутрішні відступи */
  border-radius: 0.375rem; /* Закруглені кути */
  margin-bottom: 1rem; /* Зовнішній відступ знизу */
  transition: all 0.3s ease; /* Анімація зміни властивостей */
}
.button:hover,
.button:focus {
  background-color: #2563eb; /* Змінений колір при наведенні та фокусі */
  transform: scale(1.05); /* Збільшення розміру при наведенні */
}
.button:focus {
  outline: none; /* Зникнення обводки при фокусі */
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5); /* Обводка при фокусі */
}
@media (min-width: 768px) {
  .button {
    width: 4rem; /* Ширина на великих екранах */
  }
}
@media (min-width: 1440px) {
  .button {
    width: 6rem; /* Ширина на екранах з великою роздільною здатністю */
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
